{% extends 'base.html' %}



{% block main %}

{% if user.is_authenticated %}
{{user.username}}
{{user.email}}





<a href="./" id="logout">Log-out</a>

<button class="add_password">Add password</button>

<div class="passwords">
    <div class="secter">
        <p class="login">login</p>
        <p class="pass">password</p>
        <button class="share">Share +</button>
    </div>
    <div class="secter">
        <p class="login">login1</p>
        <p class="pass">password</p>
        <button class="share">Share +</button>
    </div>
    {% for login, password in passwords %}
    <div class="secter">
        <p class="login">{{login}}</p>
        <p class="pass">{{password}}</p>
        <button class="share">Share +</button>
    </div>
    {% endfor %}



    {% if passform %}
    <div class="pass_container">
        <div class="passform">
            <a href="#" class="close" onclick="delForm(event)">Х</a>
            <form action="." method="post">
                {{passform.as_p}}
                {% csrf_token %}
                <p><input type="submit" value="ADD"></p>
            </form>
        </div>
    </div>
    {% endif %}
</div>

{% else %}


    {% if not form %}
    Server Error
    {% endif %}

    <h1>Log-in</h1>
    <p>Please, use the following form to log-in:</p>
    <p>Or <a href="./create">create</a> new account</p>
    <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Log-in"></p>
    </form>

{% endif %}


{% if modal %}
<div class="modal">
    <div class="window">
        <a href="#" class="close" onclick="delForm(event)">Х</a>
        <form action="." method="post">
                {{modal.as_p}}
                {% csrf_token %}
            <p><button type="submit" class="share_btn">Share</button></p>
        </form>
    </div>
</div>
{% endif %}

{% endblock main %}


{% block js %}
{% if user.is_authenticated %}

function delForm(event) {
    event.preventDefault();
    event.currentTarget.parentElement.parentElement.remove();
    console.log(document.cookie);
}

function getForm() {
    const xhr = new XMLHttpRequest()
    xhr.open("GET", "./api/passform", false)
    xhr.send()
    return xhr.response
}

document.querySelector("#logout").addEventListener("click", event => {
    const xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "./?act=logout", false);
    xmlHttp.send();
})

document.querySelector(".add_password").addEventListener("click", event => {
    const passwords = document.querySelector(".passwords");
    if (passwords.querySelector(".passform") === null) {
        passwords.insertAdjacentHTML("beforeend", getForm());
    } else {
        return "";
    }
})

function getModal() {
    const xml = new XMLHttpRequest();
    xml.open("GET", "./api/modalpass", false);
    xml.send();
    return xml.response;
}

document.addEventListener("click", event => {
    const btn = event.target;
    if (btn.nodeName === "BUTTON" && btn.classList.contains("share")) {
        const login = btn.previousElementSibling.previousElementSibling.textContent;
        document.querySelector("body").insertAdjacentHTML("beforeend", getModal());
        document.querySelector(".modal").querySelector("input").value = login;
    }
})

{% endif %}
{% endblock js %}