{% extends 'base.html' %}



{% block main %}

{% if user.is_authenticated %}
{{user.username}}
{{user.email}}
{% if masterpass %}
{{ masterpass }}
{% endif %}

<a href="./" id="logout">Log-out</a>

<button class="add_password">Add password</button>

<div class="passwords">
    <div class="secter">
        <p>login</p>
        <p>password</p>
    </div>
    {% for login, password in passwords %}
    <div class="secter">
        <p>{{login}}</p>
        <p>{{password}}</p>
    </div>
    {% endfor %}



    {% if passform %}
        <div class="passform">
            <form action="." method="post">
                {{passform.as_p}}
                {% csrf_token %}
                <p><input type="submit" value="ADD"></p>
            </form>    
        </div>
    {% endif %}
</div>

{% else %}



{% if not form %}
    Server Error
{% endif %}
<h1>Log-in</h1>
<p>Please, use the following form to log-in:</p>
<p>Or <a href="./create">create</a> new account</p>
<form action="." method="post">
    {{ form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Log-in"></p>
</form>

{% endif %}

{% endblock main %}


{% block js %}
{% if user.is_authenticated %}
function getForm() {
    const xhr = new XMLHttpRequest()
    xhr.open("GET", "./api/passform", false)
    xhr.send()
    return xhr.response
}

document.querySelector("#logout").addEventListener("click", event => {
    const xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", "./?act=logout", false);
    xmlHttp.send();
})

document.querySelector(".add_password").addEventListener("click", event => {
    const passwords = document.querySelector(".passwords");
    if (passwords.querySelector(".passform") === null) {
        passwords.insertAdjacentHTML("beforeend", getForm());
    } else {
        return "";
    }
})

{% endif %}
{% endblock js %}